body {
    margin: 0;
    padding: 0;
}
footer {
    background-color: #1c1d1f;
    color: #ecf0f1;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 98%;
    
}
.footer-logo{
    display: flex;
    gap:30px;
 
}
.footer-top{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid whitesmoke;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px;
    padding-left: 30px;
    justify-content: space-between;
}
.footer-section {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  font-size: 12px;
padding-left: 10px;
}
.footer-section1 {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap:80px;
    font-size: 12px;
    padding-left: 30px;
      
}
.footer-section ul {
    list-style: none;
    line-height: 2.2;
    padding: 0;
    text-align: start;
}
.footer-udemy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
#footer-udemylogo{
    height: 40px;
    width: 70px;
    padding-left: 40px;
}
.footer-img{
    padding-left: 60px;
}
@media screen and (min-width:300px) and (max-width: 667px) {
    .footer-logo{
        display: flex;
        flex-direction: column;
        gap:30px;
     
    }
}



